# Air Quality EDA, India 2015-22

## What is EDA

Exploratory Data Analysis (EDA) is an approach to analyze the data using visual techniques. It is used to discover trends, patterns, or to check assumptions with the help of statistical summary and graphical representations. 

Hyperlink to EDA https://www.geeksforgeeks.org/what-is-exploratory-data-analysis/

## Project Outline

## Envorment Setup

In [1]:
!pip install pandas numpy opendatasets matplotlib plotly seaborn --upgrade --quiet

In [2]:
import pandas as pd
import numpy as np
import opendatasets as od
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

## Download the Data

In [3]:
aq_data_url = 'https://www.kaggle.com/datasets/rohanrao/air-quality-data-in-india?select=station_hour.csv'

In [4]:
od.download(aq_data_url,'air_quality_data')

Downloading air-quality-data-in-india.zip to air_quality_data/air-quality-data-in-india

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 72.9M/72.9M [00:10<00:00, 7.45MB/s]

## Data Prepration and Cleaning

- Load the file to a dataframe using pandas
- Look at information about the file
- Fix missing and incorrect values

In [24]:
station_hourly_data = 'air_quality_data/air-quality-data-in-india/station_hour.csv'

In [25]:
selected_dtypes = {
    'PM2.5': 'float32',
    'PM10': 'float32',
    'NO': 'float32',
    'NO2': 'float32',
    'NOx': 'float32',
    'NH3': 'float32',
    'CO': 'float32',
    'SO2': 'float32',
    'O3': 'float32',
    'Benzene': 'float32',
    'Toluene': 'float32',
    'Xylene': 'float32',
    'AQI': 'float32',
    'AQI_Bucket': 'object'
}

In [26]:
station_df = pd.read_csv(station_hourly_data, dtype=selected_dtypes, parse_dates=['Datetime'])

In [18]:
station_df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24 17:00:00,60.50,98.00,2.35,30.799999,18.25,8.50,0.1,11.85,126.400002,0.1,6.10,0.10,NaN,NaN
1,AP001,2017-11-24 18:00:00,65.50,111.25,2.70,24.200001,15.07,9.77,0.1,13.17,117.120003,0.1,6.25,0.15,NaN,NaN
2,AP001,2017-11-24 19:00:00,80.00,132.00,2.10,25.180000,15.15,12.02,0.1,12.08,98.980003,0.2,5.98,0.18,NaN,NaN
3,AP001,2017-11-24 20:00:00,81.50,133.25,1.95,16.250000,10.23,11.58,0.1,10.47,112.199997,0.2,6.72,0.10,NaN,NaN
4,AP001,2017-11-24 21:00:00,75.25,116.00,1.43,17.480000,10.43,12.03,0.1,9.12,106.349998,0.2,5.75,0.08,NaN,NaN

In [19]:
station_df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,1.941394e+06,1.469831e+06,2.035372e+06,2.060110e+06,2.098275e+06,1.352465e+06,2.089781e+06,1.846346e+06,1.863110e+06,1.727504e+06,1.546717e+06,513979.000000,2.018893e+06
mean,8.086481e+01,1.584839e+02,2.278826e+01,3.523690e+01,4.055115e+01,2.870857e+01,1.502366e+00,1.211603e+01,3.806410e+01,3.305494e+00,1.490267e+01,2.448881,1.801732e+02
std,8.947618e+01,1.397883e+02,4.846146e+01,3.497508e+01,5.590894e+01,2.753244e+01,6.292445e+00,1.467385e+01,4.710653e+01,1.214053e+01,3.329729e+01,8.973470,1.404095e+02
min,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,0.000000e+00,1.000000e-02,0.000000e+00,1.000000e-02,1.000000e-02,0.000000e+00,0.000000e+00,0.000000,5.000000e+00
25%,2.816000e+01,6.400000e+01,3.050000e+00,1.310000e+01,1.135000e+01,1.123000e+01,4.100000e-01,4.250000e+00,1.102000e+01,8.000000e-02,3.400000e-01,0.000000,8.400000e+01
50%,5.259000e+01,1.162500e+02,7.150000e+00,2.479000e+01,2.286000e+01,2.235000e+01,8.000000e-01,8.250000e+00,2.475000e+01,9.600000e-01,3.400000e+00,0.200000,1.310000e+02
75%,9.774000e+01,2.040000e+02,1.858000e+01,4.548000e+01,4.570000e+01,3.778000e+01,1.380000e+00,1.453000e+01,4.953000e+01,3.230000e+00,1.510000e+01,1.830000,2.590000e+02
max,1.000000e+03,1.000000e+03,5.000000e+02,4.999900e+02,5.000000e+02,4.999700e+02,4.985700e+02,1.999600e+02,9.970000e+02,4.980700e+02,4.999900e+02,499.989990,3.133000e+03

In [20]:
station_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 16 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   StationId   2589083 non-null  object
 1   Datetime    2589083 non-null  datetime64[ns]
 2   PM2.5       1941394 non-null  float32
 3   PM10        1469831 non-null  float32
 4   NO          2035372 non-null  float32
 5   NO2         2060110 non-null  float32
 6   NOx         2098275 non-null  float32
 7   NH3         1352465 non-null  float32
 8   CO          2089781 non-null  float32
 9   SO2         1846346 non-null  float32
 10  O3          1863110 non-null  float32
 11  Benzene     1727504 non-null  float32
 12  Toluene     1546717 non-null  float32
 13  Xylene      513979 non-null   float32
 14  AQI         2018893 non-null  float32
 15  AQI_Bucket  2018893 non-null  object
dtypes: datetime64[ns](1), float32(13), object(2)
memory usage: 187.7+ MB

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,1.941394e+06,1.469831e+06,2.035372e+06,2.060110e+06,2.098275e+06,1.352465e+06,2.089781e+06,1.846346e+06,1.863110e+06,1.727504e+06,1.546717e+06,513979.000000,2.018893e+06
mean,8.086481e+01,1.584839e+02,2.278825e+01,3.523689e+01,4.055115e+01,2.870856e+01,1.502366e+00,1.211602e+01,3.806408e+01,3.305493e+00,1.490266e+01,2.448881,1.801730e+02
std,8.947618e+01,1.397883e+02,4.846146e+01,3.497508e+01,5.590894e+01,2.753244e+01,6.292445e+00,1.467385e+01,4.710653e+01,1.214053e+01,3.329729e+01,8.973470,1.404095e+02
min,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,0.000000e+00,1.000000e-02,0.000000e+00,1.000000e-02,1.000000e-02,0.000000e+00,0.000000e+00,0.000000,5.000000e+00
25%,2.816000e+01,6.400000e+01,3.050000e+00,1.310000e+01,1.135000e+01,1.123000e+01,4.100000e-01,4.250000e+00,1.102000e+01,8.000000e-02,3.400000e-01,0.000000,8.400000e+01
50%,5.259000e+01,1.162500e+02,7.150000e+00,2.479000e+01,2.286000e+01,2.235000e+01,8.000000e-01,8.250000e+00,2.475000e+01,9.600000e-01,3.400000e+00,0.200000,1.310000e+02
75%,9.774000e+01,2.040000e+02,1.858000e+01,4.548000e+01,4.570000e+01,3.778000e+01,1.380000e+00,1.453000e+01,4.953000e+01,3.230000e+00,1.510000e+01,1.830000,2.590000e+02
max,1.000000e+03,1.000000e+03,5.000000e+02,4.999900e+02,5.000000e+02,4.999700e+02,4.985700e+02,1.999600e+02,9.970000e+02,4.980700e+02,4.999900e+02,499.990000,3.133000e+03

## Exploratory Analysis and Visualization

## Ask & Answer Questions

- Top polluted cities
- Least polluted cities
- Most coomon form of contaimantion
- Season Cycles
- Effect of 2020 Lockdown

## Summary

## Reference